<nav *ngIf="breadcrumbs.length > 0" aria-label="breadcrumb" class="breadcrumb-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/asistencia/sesion']">
        <i class="bi bi-house-door"></i>
        <span class="d-none d-sm-inline ms-1">Inicio</span>
      </a>
    </li>
    <li *ngFor="let breadcrumb of breadcrumbs; let last = last" class="breadcrumb-item">
      <ng-container *ngIf="last; else breadcrumbLink">
        <span class="active" aria-current="page">{{ breadcrumb.label }}</span>
      </ng-container>
      <ng-template #breadcrumbLink>
        <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
      </ng-template>
    </li>
  </ol>
</nav>
